<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="cn/tac/framework/easydev/logging/support/logstash/logstash-appender.xml" />

    <springProfile name="ut">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="REDIS-ASYNC"/>
        </root>
    </springProfile>
</configuration>

